html {
	font-size: 14px;
}

@media (max-width: 959px) {
	html {
		font-size: 13px;
	}
}

@media (max-width: 639px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 479px) {
	html {
		font-size: 11px;
	}
}

body {
	color: #333;
}

em {
	color: inherit;
}

h1 {
	font-size: 2rem;
	font-weight: 900;
	margin-top: 30px;
}

h5 {
	margin-bottom: 5px;
}

a {
	word-break: break-all;
}

ul, ol {
	margin-top: 0;
}

/*.uk-table thead.uk-active {
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
}*/

.uk-table tr > :first-child {
	background: #fff;
	border-right: 1px solid #e5e5e5;
}

.uk-table th {
	color: #333;
	font-size: 1rem;
	font-weight: 700;
	text-transform: none;
}

.uk-table th span {
	cursor: pointer;
	display: block;
	white-space: nowrap;
}

.uk-table th.uk-active {
	background-color: #e5e5e5;
	color: #222;
	position: relative;
}

.uk-table th.uk-active span:after {
	bottom: 0.2em;
	content: ">";
	font-size: 0.666em;
	font-weight: 300;
	left: 50%;
	line-height: 1;
	opacity: 0.333;
	position: absolute;
	transform: translateX(-50%) rotate(90deg);
}

.uk-table th.desc span:after {
	transform: translateX(-50%)rotate(270deg);
}

.uk-table th .source {
	font-size: 0.666em;
	opacity: 0.333;
}

.uk-table tr td:first-child {
	font-weight: 600;
}

.uk-table td.uk-active {
	background-color: #f1f1f1;
}

.uk-table tr :nth-child(5),
.uk-table tr :nth-child(8),
.uk-table tr :nth-child(11) {
	border-left: 1px solid #e5e5e5;
}

@media (max-width: 639px) {

	h1 {
		margin-top: 15px;
	}

	.uk-table tr > :first-child {
		box-sizing: border-box;
		height: 36px;
		overflow: hidden;
		position: absolute;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 23vw;
	}

	.uk-table tr :nth-child(2) {
		padding-left: calc(23vw + 24px);
	}
}
